<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>showmy.chat</title>
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css" />
</head>
<body>
	<header style="padding-bottom: 0;">
		<a href="/">showmy.chat</a>
		<a style="float: inline-end" href="https://discord.gg/K78fXzVxja">Discord</a>
	</header>
	<main>
		{{ content | safe }}
	</main>
	<footer>
		<span dir="ltr">&copy; 2021, Ben Myers</span> &middot; <a href="/colophon/">{{'Colophon' | i18n }}</a> &middot; <a href="https://discord.gg/K78fXzVxja">Discord</a> &middot; <a href="https://github.com/BenDMyers/showmy.chat">{{'Contribute on GitHub' | i18n}}</a>
	</footer>
	<style>
		@media only screen and (prefers-color-scheme: dark) {
			:root:not([data-theme=light]) {
				--form-element-border-color: var(--color);
			}
		}
	</style>
</body>
</html>