<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>showmy.chat</title>
	<link rel="stylesheet" href="https://unpkg.com/mvp.css" />
</head>
<body>
	<header>
		<a href="/">showmy.chat</a>
		
	</header>
	<main>
		{{ content }}
	</main>
	<footer>
		&copy; 2021, Ben Myers &middot; <a href="https://github.com/BenDMyers/showmy.chat">Contribute on GitHub</a>
	</footer>
</body>
</html>