:root {
	--off-white: #fefbf5;
	--mod-green: #27ae60;
	--founder-red: #c0392b;
	--subscriber-purple: #8e44ad;
	--vip-yellow: #fed330;
	--peppermint: #f8574e;
	--text-black: #474241;
}

* {
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

li {
	/* filter drop shadow */
	filter: drop-shadow(0 2px 3px rgb(0 0 0 / 30%));
}

[data-twitch-chat] {
	--chat-font-size: 16px;
	--chat-background-color: transparent;
	--chat-text-color: var(--text-black);

	background-color: var(--chat-background-color);
	color: var(--chat-text-color);
	font-size: var(--chat-font-size);
	width: 99vw;
	height: 98vh;
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 10%));
	padding: 0.5rem 1rem;
	border-radius: 20px;
	list-style: none;
	margin: 0;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

[data-twitch-message] {
	margin: 0.25rem;
	position: relative;
	padding-left: 60px;
}

[data-twitch-message-reply] {
	display: none;
}

[data-twitch-emote] {
	display: inline-block;
	height: 1.5em;
	margin-bottom: -0.3em;
}

[data-twitch-emote] + [data-twitch-emote] {
	margin-left: -0.22em;
}

/* Speech Bubble */

.twitch-chat-message,
.twitch-chat-sender {
	background: white;
	padding-left: 6px;
}

.twitch-chat-sender {
	font-weight: bold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 4px;
	color: var(--twitch-sender-color, #c0392b);
}

.twitch-chat-message {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-bottom: 8px;
	padding-right: 12px;
}

[data-twitch-sender-color-lightness='light'] > .twitch-chat-sender::after {
	content: attr(data-twitch-sender-inner);
	position: absolute;
	left: 66px;
	color: rgb(0 0 0 / 60%);
}

/* Horse SVG */

[data-twitch-message]::before,
[data-twitch-message]::after {
	position: absolute;
	bottom: -6px;
	left: 2px;
	height: 64px;
	width: 70px;
	transform: scale(0.7);
}

[data-twitch-message]::before {
	/* Mask */
	content: '';
	clip-path: path(
		'M40.5939 1.10633C40.1619 0.501332 38.2559 -0.120668 38.0349 0.877332C37.9222 1.38553 37.813 1.87537 37.7074 2.34863L37.7071 2.34999C37.2282 4.49734 36.8255 6.30337 36.5263 7.93274C33.9678 8.11423 31.3228 8.93578 29.0395 10.2591C27.2564 7.83909 24.6789 5.69923 22.054 3.5982C21.474 3.1322 19.474 3.0462 19.53 4.0672H19.526C19.5542 4.58676 19.5807 5.08774 19.6063 5.57176C19.9074 11.2584 20.0845 14.604 21.3639 18.2347C10.187 31.8497 -0.118988 46.8733 -0.0289154 63.9944H39.1511C35.2574 57.1385 36.6476 47.5394 41.505 40.5088C42.3249 41.2467 43.1193 42.0243 43.9113 42.83C44.175 43.15 44.6013 43.7414 45.1155 44.4548C46.377 46.2051 48.1676 48.6895 49.3853 49.699C51.0983 51.12 51.7443 51.349 52.7623 51.312C53.7793 51.277 57.4343 49.935 59.2743 48.539C59.344 48.4954 59.416 48.4507 59.4898 48.405C60.8904 47.5363 62.941 46.2646 62.4623 43.789C61.9643 41.2172 50.7644 20.4877 46.3322 12.5771C45.8809 8.65199 43.2901 4.8551 40.5939 1.10633Z'
	);
	background: var(--twitch-sender-color, #c0392b);
}

[data-twitch-message]::after {
	/* Hair and shadows */
	content: url("data:image/svg+xml,%3Csvg width='70' height='64' viewBox='0 0 70 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_995_188)'%3E%3Cpath d='M48.4128 53.2737C52.124 55.1385 53.7734 51.8751 53.7734 48.1455L48.4128 45.8145C47.1757 47.6793 45.4438 51.7818 48.4128 53.2737Z' fill='%23FF9C9C'/%3E%3Cpath d='M48.7299 53.4078C49.6553 53.7593 51.2734 47.3142 51.2734 47.3142L50.8316 47.127C50.3317 49.127 48.4684 53.3085 48.7299 53.4078Z' fill='%23B55757' fill-opacity='0.5'/%3E%3Cpath d='M41.5078 40.5109C39.5268 38.7276 37.3966 37.1758 34.7895 36.0169C33.972 35.6535 33.0814 35.3398 32.1757 35.0209C30.1776 34.3171 28.1059 33.5875 26.5825 32.2409C23.7978 29.7811 22.3124 26.7809 22.0334 23.5957C19.8641 26.7913 18.4233 30.6793 17.9964 34.0029C17.5292 37.6283 21.6834 41.0567 24.6653 43.5176C25.1807 43.943 25.661 44.3394 26.0764 44.7029C29.3644 47.5779 33.1044 50.1739 37.0364 52.5299C37.4736 48.3247 39.0419 44.0858 41.5078 40.5109Z' fill='%23323232' fill-opacity='0.27'/%3E%3Cpath d='M58.3652 49.1396C56.3652 44.2996 53.8482 39.7366 51.4922 35.0396C49.0322 30.1386 46.6082 25.1826 43.2772 20.7926C39.3142 15.5696 35.3362 11.6466 30.0912 9.71265C35.8202 6.89565 43.2512 7.08765 46.1512 12.2516C50.4492 19.9016 61.9592 41.1816 62.4642 43.7896C62.9682 46.3956 60.6692 47.6676 59.2762 48.5396C59.0082 48.7406 58.6972 48.9426 58.3662 49.1406' fill='%23323232' fill-opacity='0.18'/%3E%3Cpath d='M63.1377 45.2C63.1377 41.306 59.8247 41.379 55.3087 41.379C50.7877 41.379 46.7737 41.307 46.7737 45.2C46.7737 49.096 50.4387 52.25 54.9577 52.25C59.4737 52.25 63.1377 49.092 63.1377 45.2' fill='%23C2986B'/%3E%3Cpath d='M53.2949 44.4495C53.2949 42.4055 51.5549 42.4395 49.1839 42.4395C46.8109 42.4395 44.7049 42.4005 44.7049 44.4495C44.7049 46.4965 46.6259 48.1525 48.9989 48.1525C51.3719 48.1525 53.2949 46.4965 53.2949 44.4495' fill='%23C2986B'/%3E%3Cpath d='M53.9199 45.6322C53.9199 44.3012 52.7859 44.3262 51.2409 44.3262C49.6959 44.3262 48.3239 44.3012 48.3239 45.6322C48.3239 46.9652 49.5759 48.0472 51.1209 48.0472C52.6679 48.0472 53.9199 46.9652 53.9199 45.6322Z' fill='%23604832'/%3E%3Cpath d='M31.2836 21.686C31.2836 24.622 33.4416 26.995 36.1056 26.995C38.7696 26.995 40.9336 24.622 40.9336 21.686C40.9336 18.752 38.7696 16.377 36.1056 16.377C33.4416 16.377 31.2836 18.752 31.2836 21.686Z' fill='white'/%3E%3Cpath d='M32.9796 21.6853C32.9796 23.2203 34.3796 24.4673 36.1016 24.4673C37.8276 24.4673 39.2256 23.2203 39.2256 21.6853C39.2256 20.1493 37.8276 18.9023 36.1016 18.9023C34.3796 18.9023 32.9796 20.1493 32.9796 21.6853Z' fill='%2325333A'/%3E%3Cpath d='M0.640205 48.2992C0.59004 48.2416 0.555804 48.1719 0.540894 48.097C0.525983 48.0221 0.530918 47.9446 0.555206 47.8722C0.741574 47.2677 0.943641 46.6682 1.16121 46.0742C0.663205 44.2272 1.58421 42.4552 2.76321 40.8692C2.42221 40.7912 2.15921 40.5832 2.22621 40.1822C2.84121 36.6282 4.8072 33.9332 6.8152 31.1222C6.3292 31.2792 5.07821 31.1732 5.40221 30.4862C7.30721 26.4762 9.4022 24.4762 12.4882 21.8782C12.4572 21.7962 12.4702 21.7062 12.5212 21.6032C11.5332 21.3882 10.5692 21.1322 9.56721 20.7302C8.67921 20.3722 9.66021 19.6072 10.1642 19.5512C13.2982 19.2122 15.8392 17.1702 17.7312 14.7722C16.9656 14.8975 16.2138 15.0961 15.4862 15.3652C15.0352 15.5072 13.7152 15.2432 14.2642 14.5242C17.3932 10.4212 21.5092 9.24923 26.1392 8.53923L25.0692 8.23023C24.3332 8.13123 23.9782 7.50123 24.7152 7.06623C27.7062 5.29623 29.8862 6.76223 32.8292 6.56823C33.5622 6.38223 34.3102 6.25423 35.0922 6.25723C35.1252 6.25723 35.1442 6.27723 35.1752 6.28023C35.0582 5.93123 35.3062 5.49523 35.9922 5.42623C38.9262 5.12323 41.6012 4.93123 44.3242 6.21323C45.1862 6.62023 44.2542 7.32123 43.7292 7.39223C43.6822 7.39823 43.6402 7.39623 43.5952 7.40123C45.6402 8.03323 47.4512 8.88323 48.4532 11.2402C48.7642 11.9712 47.5632 12.2972 47.0592 12.1162C46.1832 11.8042 45.3572 11.3792 44.5332 10.9612C45.1322 12.2852 45.2672 13.8482 45.3302 15.5052C45.3612 16.3522 43.7482 16.5212 43.3852 15.8702C42.3045 13.9258 40.7105 12.3156 38.7772 11.2152C38.6042 11.1842 38.4362 11.1352 38.2672 11.0972C38.0672 11.1982 37.8402 11.2652 37.6072 11.2412C37.4232 11.2212 37.2472 11.1792 37.0662 11.1542C37.4771 11.5267 37.8632 11.9255 38.2222 12.3482C38.8602 13.1102 37.5182 13.5292 36.9472 13.3692C35.8592 13.0692 34.8222 12.6692 33.8352 12.1692C33.9342 12.4462 34.0402 12.7062 34.1272 12.9972C34.3602 13.7652 32.8412 13.8542 32.3722 13.5502C31.9542 13.6062 31.4902 13.5642 31.2982 13.4252C30.4802 12.8422 29.8872 12.2452 29.5902 11.5152C27.7442 12.1712 26.0182 12.9312 24.4062 13.9152C23.296 14.6024 22.2625 15.4063 21.3232 16.3132C21.1792 16.4822 21.0612 16.6702 20.9212 16.8402C21.4002 16.8222 21.9062 17.0132 22.0012 17.3072C22.3532 17.4822 22.5172 17.7882 22.0952 18.1622C18.3102 21.5302 15.5722 25.7522 12.7762 29.9292C7.75621 37.9022 3.5112 46.5292 1.7662 55.6332C1.6262 56.3552 0.198205 57.5752 0.211205 56.7562C0.251205 54.2472 0.127208 50.6962 0.643208 48.3012' fill='%231B0F06'/%3E%3Cpath d='M56.0322 54.5281C60.8786 58.3818 67.2966 58.0905 70.1198 56.5733V47.6914C65.0807 52.6675 62.0518 54.5281 56.0322 54.5281Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_995_188'%3E%3Crect width='70' height='64' fill='white' transform='matrix(-1 0 0 1 70 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
